@import url('https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&display=swap');

body{
    background-color: black;
}

p{
    font-family: "Cactus Classical Serif", serif;
    font-weight: 400;
    font-style: normal;

    color: white;
    padding: 10px;
}

.author{
    font-style: italic;
    color: rgb(111, 130, 255);
}