body {
    background-image:url('rainbow2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.audio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25%;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    
}

